<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMNyk-D1KmAFhz3w-LBARISkJfVAbAuUw</string>
	<key>GCM_SENDER_ID</key>
	<string>501798280163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rentApp</string>
	<key>PROJECT_ID</key>
	<string>rent-app-7b250</string>
	<key>STORAGE_BUCKET</key>
	<string>rent-app-7b250.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501798280163:ios:dcd7aad570b803aea15ed6</string>
</dict>
</plist>